html {
  height: 100%;
  width: 100%;
}

body {
  margin-left: 100px;
  margin-right: 100px;
  padding: 25px;
  background-color: #ebdbe8;
  color: #280720;
  font-family:Trebuchet MS;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

header {

}

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}